@using Microsoft.AspNetCore.Identity
@inject UserManager<AutoNet.Core.Domain.ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    bool isLoginPage = ViewData["IsLoginPage"] != null && Convert.ToBoolean(ViewData["IsLoginPage"]);
    bool isRegisterPage = ViewData["IsRegisterPage"] != null && Convert.ToBoolean(ViewData["IsRegisterPage"]);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AutoNet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AutoNet.styles.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-white px-5" asp-area="" asp-controller="Home" asp-action="Index">AutoNet</a>
                <div class="d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav ms-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <div class="d-flex justify-content-center">
                                    <a class="nav-link text-dark me-2" href="#" data-bs-toggle="modal" data-bs-target="#accountModal">
                                        <i class="fa-solid fa-circle-user fa-2x text-white"></i>
                                    </a>
                                    <form asp-controller="Accounts" asp-action="Logout" method="post">
                                        <button type="submit" class="btn btn-logout">Logout</button>
                                    </form>
                                </div>
                            </li>
                        }
                        else
                        {
                            @if (!isLoginPage && !isRegisterPage)
                            {
                                <li class="nav-item">
                                    <div class="d-flex justify-content-center">
                                        <form asp-controller="Accounts" asp-action="Register" method="get" class="me-2">
                                            <button type="submit" class="btn btn-register">Register</button>
                                        </form>
                                        <form asp-controller="Accounts" asp-action="Login" method="get">
                                            <button type="submit" class="btn btn-login">Login</button>
                                        </form>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="modal fade" id="accountModal" tabindex="-1" aria-labelledby="accountModalLabel" aria-hidden="true">
        <div class="modal-dialog account-modal">
            <div class="modal-content">
                <div class="modal-header account-modal-header">
                    <h5 class="modal-title" id="accountModalLabel">Account</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body account-modal-body">
                    <div class="row">
                        <div class="col-2 d-flex justify-content-center align-items-center">
                            <p class="mb-0"><i class="fa-solid fa-circle-user fa-2x"></i></p>
                        </div>
                        <div class="col-10">
                            <p class="mb-0">@user?.FirstName @user?.LastName</p>
                            <p class="mb-2">@user?.Email</p>
                        </div>
                        <div class="col-12">
                            <a class="account-modal-link" asp-controller="Accounts" asp-action="ChangePassword">Change Password</a>
                        </div>
                    </div>
                    <hr />
                    <div class="col-12">
                        <a class="account-modal-link" asp-controller="Cars" asp-action="Index">Vehicle ads</a>
                        <a class="account-modal-link" asp-controller="Cars" asp-action="UserCars">My sale ads</a>
                        <a class="account-modal-link" asp-controller="Cars" asp-action="Create">Insert sales ad</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer text-muted">
        <div class="container d-flex justify-content-center">
            &copy; @DateTime.Now.Year - AutoNet - <a asp-area="" asp-controller="Home" asp-action="Privacy" style="text-decoration: none; color: azure;"> Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
