@using Microsoft.AspNetCore.Identity
@inject UserManager<AutoNet.Core.Domain.ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AutoNet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AutoNet.styles.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light box-shadow mb-3 navbar-overlay">
            <div class="container-fluid">
                <a class="navbar-brand text-white px-5" asp-area="" asp-controller="Home" asp-action="Index">AutoNet</a>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-center">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Cars" asp-action="Index">All Cars</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Cars" asp-action="UserCars">My Cars</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Cars" asp-action="Create">Create</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-circle-user fa-2x"></i>
                                </a>
                                <ul class="dropdown-menu account-info" aria-labelledby="navbarDropdown">
                                    <li>
                                        <div class="card account-info-card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-2 d-flex justify-content-center align-items-center">
														<p class="mb-0"><i class="fa-solid fa-circle-user fa-2x"></i></p>
                                                    </div>
                                                    <div class="col-10">
                                                        <p class="mb-0">@user?.FirstName @user?.LastName</p>
                                                        <p class="mb-2">@user?.Email</p>
                                                    </div>
                                                    <hr />
                                                    <div class="col-12">
                                                        <a class="dropdown-item text-center" asp-controller="Cars" asp-action="UserCars">My Cars</a>
                                                        <a class="dropdown-item text-center" asp-controller="Accounts" asp-action="ChangePassword">Change Password</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>


                            <li class="nav-item">
                                <form asp-controller="Accounts" asp-action="Logout" method="post">
                                    <button type="submit" class="btn btn-logout">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <form asp-controller="Accounts" asp-action="Register" method="get">
                                    <button type="submit" class="btn btn-register me-2">Register</button>
                                </form>
                            </li>
                            <li class="nav-item">
                                <form asp-controller="Accounts" asp-action="Login" method="get">
                                    <button type="submit" class="btn btn-login">Login</button>
                                </form>
                            </li>
                        }
                    </ul>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container d-flex justify-content-center">
            &copy; @DateTime.Now.Year - AutoNet - <a asp-area="" asp-controller="Home" asp-action="Privacy" style="text-decoration: none; color: azure;"> Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
