@{
	ViewData["Title"] = "Change Password Confirmation";
}

<div class="container col-12">
	<div class="row">
		<div class="col-12 col-sm-8" style="background-image: url('/images/cars-login.jpg'); background-size: cover; background-position: center;" )">
		</div>
		<div class="col-12 col-sm-4">
			<div class="text-center">
				<h2>Password Changed Successfully</h2>
				<p>Your password has been successfully updated.</p>
				<p>You can now <a asp-action="Login" asp-controller="Accounts">log in</a> with your new password.</p>
			</div>
		</div>
	</div>
</div>