@model AutoNet.Models.Accounts.ChangePasswordViewModel

@{
	ViewData["Title"] = "Change Password";
}

<div class="container col-12">
	<div class="row">
		<div class="col-12 col-sm-8" style="background-image: url('/images/cars-login.jpg'); background-size: cover; background-position: center;" )">
		</div>
		<div class="col-12 col-sm-4">
			<h2>Change Password</h2>
			<form method="post">
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="form-check-group">
					<input asp-for="CurrentPassword" class="form-control mb-2" placeholder="Current Password" />
					<span asp-validation-for="CurrentPassword" class="text-danger"></span>
				</div>
				<div class="form-check-group">
					<input asp-for="NewPassword" class="form-control mb-2" placeholder="New Password" />
					<span asp-validation-for="NewPassword" class="text-danger"></span>
				</div>
				<div class="form-check-group">
					<input asp-for="ConfirmPassword" class="form-control mb-2" placeholder="Confirm Password" />
					<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
				</div>
				<button type="submit" class="btn btn-update w-100">
					Update
				</button>
			</form>
		</div>
	</div>
</div>
