@{
	ViewData["Title"] = "Confirm Email";
}

<div class="container col-12">
	<div class="row">
		<div class="col-12 col-sm-8" style="background-image: url('/images/cars-login.jpg'); background-size: cover; background-position: center;" )">
		</div>
		<div class="col-12 col-sm-4">
			<div class="text-center">
				<h2>Email Confirmation Successful</h2>
				<p>Your email address has been successfully confirmed.</p>
				<p>You can now <a asp-action="Login" asp-controller="Login">log in</a> to your account.</p>
			</div>
		</div>
	</div>
</div>