@{
	ViewData["Title"] = "Forgot Password Confirmation";
}

<div class="container col-12">
	<div class="row">
		<div class="col-12 col-sm-8" style="background-image: url('/images/cars-login.jpg'); background-size: cover; background-position: center;" )">
		</div>
		<div class="col-12 col-sm-4">
			<div class="text-center">
				<h2>Password Reset Request Sent</h2>
				<p>We have sent you an email with instructions on how to reset your password. Please check your inbox (and your spam folder) for the email.</p>
				<p>If you don't receive the email within a few minutes, you can <a asp-action="ForgotPassword" asp-controller="Accounts">try again</a>.</p>
			</div>
		</div>
	</div>
</div>


