@{
	ViewData["Title"] = "Registration Successful";
}

<div class="container col-12">
	<div class="row">
		<div class="col-12 col-sm-8" style="background-image: url('/images/cars-login.jpg'); background-size: cover; background-position: center;" )">
		</div>
		<div class="col-12 col-sm-4">
			<div class="text-center">
				<h2>Registration Successful</h2>
				<p>Thank you for registering! Your account has been created successfully.</p>
				<p>Before you can log in, please check your email for a confirmation link. You need to confirm your email address to activate your account.</p>
				<p>If you don't see the confirmation email in your inbox, please check your spam folder.</p>
			</div>
		</div>
	</div>
</div>
